$color-black: #000;
$color-white: #fff;
$color-primary-purple: #7950f2;
$color-secondary-purple: #b197fc;
$color-tertiary-purple: #d0bfff;
$color-light-gray: #f7f7f7;

$color-text-gray: #333;
$color-text-white: #f7f7f7;
