.section-pictures {
  position: relative;
  height: 115vh;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
}

.section-facts {
  padding: 20rem 0;
  padding-bottom: 15rem;
  margin-top: -15vh;
}
