.img-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 15vh));
  width: 100%;

  @include respond(phone) {
    transform: translate(-50%, calc(-40% - 15vh));
  }

  &__image {
    display: block;
    margin: 0 auto;
    height: 50vh;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transition: all 0.2s;
    margin-bottom: 6rem;

    &:hover {
      outline: 1.5rem solid $color-secondary-purple;
      outline-offset: 1rem;
      transform: scale(1.05);
    }

    @include respond(phone) {
      max-width: 80vw;
      height: 60vh;
      object-fit: cover;
    }
  }

  &__btns-box {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: -3rem;
  }

  &__icon-box {
    display: inline-block;
  }

  &__btn-pin {
    margin-left: 2rem;
    display: inline-block;
    font-size: 3rem;
    color: $color-primary-purple;
    background-color: rgba($color-black, 0.2);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    position: relative;
    transition: all 0.2s;

    @include respond(phone) {
      font-size: 3.5rem;
      width: 7rem;
      height: 7rem;
    }

    &:hover {
      transform: translateY(-0.65rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
      cursor: pointer;
    }

    &:active {
      transform: translateY(-0.45rem);
      box-shadow: 0 0.25rem 0.5rem rgba($color-black, 0.15);
      cursor: pointer;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
  }
}

.btn {
  border: 3px solid $color-tertiary-purple;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-text-white;
  background-image: linear-gradient(
    to right,
    $color-secondary-purple,
    $color-primary-purple
  );
  border-radius: 100rem;

  display: inline-block;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
  }

  @include respond(phone) {
    padding: 3rem 4rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // transform: scale(0.5);
  }
}
