.pins {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: $color-white;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s ease-out;
  overflow-y: scroll;

  &__heading {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: linear-gradient(
      to right,
      $color-secondary-purple,
      $color-primary-purple
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__btns-box {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
  }

  &__btn-clear {
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      $color-secondary-purple,
      $color-primary-purple
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    transform: translateY(-2px);
  }

  &__btn-close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1rem;
  }

  &__icon {
    font-size: 3.5rem;
    line-height: 1;
  }

  &__list {
    padding: 3rem;
    list-style: none;
  }

  &__item {
    padding: 1rem 2rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      background-color: $color-tertiary-purple;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    transition: all 0.2s;
  }

  &__shape {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    font-size: 2rem;
    color: $color-text-gray;
  }

  &.open {
    transform: translateX(0);
  }
}
